[submodule "upstream/cppyy-backend"]
	path = upstream/cppyy-backend
	url = https://github.com/wlav/cppyy-backend.git
[submodule "upstream/CPyCppyy"]
	path = upstream/CPyCppyy
	url = https://github.com/wlav/CPyCppyy.git
[submodule "upstream/cppyy"]
	path = upstream/cppyy
	url = https://github.com/wlav/cppyy.git
[submodule "feedstocks/cppyy-cling-feedstock"]
	path = feedstocks/cppyy-cling-feedstock
	url = https://github.com/conda-forge/cppyy-cling-feedstock.git
[submodule "feedstocks/cppyy-backend-feedstock"]
	path = feedstocks/cppyy-backend-feedstock
	url = https://github.com/conda-forge/cppyy-backend-feedstock.git
[submodule "feedstocks/cpycppyy-feedstock"]
	path = feedstocks/cpycppyy-feedstock
	url = https://github.com/conda-forge/cpycppyy-feedstock.git
[submodule "feedstocks/cppyy-feedstock"]
	path = feedstocks/cppyy-feedstock
	url = https://github.com/conda-forge/cppyy-feedstock.git
[submodule "patched/cppyy-cling"]
	path = patched/cppyy-cling
	url = https://github.com/saraedum/cppyy-dev.git
[submodule "patched/cppyy-backend"]
	path = patched/cppyy-backend
	url = https://github.com/saraedum/cppyy-dev.git
[submodule "patched/cpycppyy"]
	path = patched/cpycppyy
	url = https://github.com/saraedum/cppyy-dev.git
[submodule "patched/cppyy"]
	path = patched/cppyy
	url = https://github.com/saraedum/cppyy-dev.git
[submodule "downstream/gmpxxyy"]
	path = downstream/gmpxxyy
	url = https://github.com/flatsurf/gmpxxyy.git
[submodule "downstream/cppyythonizations"]
	path = downstream/cppyythonizations
	url = https://github.com/flatsurf/cppyythonizations.git
[submodule "downstream/e-antic"]
	path = downstream/e-antic
	url = https://github.com/flatsurf/e-antic.git
[submodule "downstream/intervalxt"]
	path = downstream/intervalxt
	url = https://github.com/flatsurf/intervalxt.git
[submodule "downstream/exact-real"]
	path = downstream/exact-real
	url = https://github.com/flatsurf/exact-real.git
[submodule "downstream/flatsurf"]
	path = downstream/flatsurf
	url = https://github.com/flatsurf/flatsurf.git
[submodule "downstream/sage-flatsurf"]
	path = downstream/sage-flatsurf
	url = https://github.com/flatsurf/sage-flatsurf.git
[submodule "feedstocks/conda-forge-ci-setup-feedstock"]
	path = feedstocks/conda-forge-ci-setup-feedstock
	url = https://github.com/conda-forge/conda-forge-ci-setup-feedstock
